<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections> 
  <connectionStrings>
  
   <add name="ConString" connectionString="Data Source=BITHIL-PC;Initial Catalog=Dinning;Integrated Security=True;MultipleActiveResultSets=true" providerName="System.Date.sqlClient"/>
    <add name="WpfApplication4.Properties.Settings.DBConnectionString" connectionString="Data Source=BITHIL-PC;AttachDbFilename=Dinning;Integrated Security=True" providerName="System.Data.SqlClient"/>
 
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
